annotated-types==0.6.0
click==8.1.7
colorama==0.4.6
phonenumbers==8.13.30
prettytable==3.9.0
pydantic==2.6.1
pydantic-extra-types==2.5.0
pydantic_core==2.16.2
typing_extensions==4.9.0
wcwidth==0.2.13
